#IndicatorNormal{
    background:rgba(0, 0, 0, 0);
    border:1px solid grey;
    border-radius:2px;
}
#IndicatorNormal:hover{
    border:1px solid #66ffe3;
}


#IndicatorChoozed{
    background:rgba(0, 0, 0, 0);
    border:1px solid red;
    border-radius:2px;
}
#IndicatorChoozed:hover{
    border:1px solid #66ffe3;
}